main {
  margin-top: 50px;
}
.banner {
  width: 100%;
  margin: 30px 0;
}
.banner ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0;
  list-style-type: none;
  padding: 0;
}
.banner ul li {
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  transition: transform 0.2s, border-color 0.2s;
}
.banner ul li.présent {
  background: var(--bg-A1);
}

.banner ul li.impérat {
  background: var(--bg-A2);
}
.banner ul li.passéco {
  background: var(--bg-B1);
}
.banner ul li.imparfa {
  background: var(--bg-B2);
}

/* .banner ul li.C1 {
  background: var(--bg-C1);
}

.banner ul li.C2 {
  background: var(--bg-C2);
} */
.banner ul li:hover {
  transform: scale(1.03);
  transition: transform 0.2s, border-color 0.2s;
}

main a {
  text-decoration: none;
  padding: 5px 7px;
  color: black;
}
#title {
  color: #466c95;
  max-width: 400px;
  margin: 20px 0;
}
#regles div {
  margin: 5px auto;
}
#exercices {
  background-color: rgb(247, 245, 245);
}
.phrase {
  display: flex;
  align-items: center;
  margin: 10px 0;
  transition: all 0.5s ease;
}
.phrase .logo {
  opacity: 0;
  transition: all 0.5s ease;
}
.phrase input {
  margin: 0 3px;
  padding: 4px;
  max-width: 130px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.5s ease;
}

.phrase input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}
.bad-answer,
.bad-answer * {
  color: red;
}
.phrase.good-answer .logo {
  opacity: 1;
  transition: all 0.5s ease;
}
.good-answer,
.good-answer * {
  color: green;
}

@media (max-width: 768px) {
  .banner ul {
    grid-template-columns: 1fr;
  }
  #regles div {
    text-align: center;
  }
  .phrase {
    flex-wrap: wrap;
    align-items: center;
  }

  #title {
    max-width: 100%;
  }
}
